<div layout="column" class="contaier">
  <md-toolbar layout="row">
    <navbar class="md-toolbar-tools">
      <md-menu>
        <md-button>
          <md-tooltip md-direction="bottom">切换店铺</md-tooltip>
          <span>测试</span>
          <i class="material-icons">expand_more</i>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button ng-click="ctrl.redial($event)">
              <md-icon md-svg-icon="call:dialpad" md-menu-align-target></md-icon>
              Redial
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button disabled="disabled" ng-click="ctrl.checkVoicemail()">
              <md-icon md-svg-icon="call:voicemail"></md-icon>
              Check voicemail
            </md-button>
          </md-menu-item>
          <md-menu-divider></md-menu-divider>
          <md-menu-item>
            <md-button ng-click="ctrl.toggleNotifications()">
              <md-icon md-svg-icon="social:notifications-{{ctrl.notificationsEnabled ? 'off' : 'on'}}"></md-icon>
              {{ctrl.notificationsEnabled ? 'Disable' : 'Enable' }} notifications
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </navbar>
    <!--<div class="md-toolbar-tools">
      <h1 layout-align-gt-sm="center">
        Hello World
      </h1>
    </div>-->
  </md-toolbar>
  <div flex ui-view class="contaier"></div>
</div>