<div layout="row" class="contaier">
  <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="true">
    <md-list>
      <md-list-item>
        <span>店铺信息</span>
        <md-checkbox class="md-secondary"></md-checkbox>
      </md-list-item>
      <md-list-item>摄像机</md-list-item>
      <md-list-item>操作记录</md-list-item>
      <md-list-item>用户列表</md-list-item>
      <md-list-item>直播会话</md-list-item>
      <md-list-item>备份录像</md-list-item>
      <md-list-item>账单</md-list-item>
    </md-list>
  </md-sidenav>

  <md-content layout="column" id="content" flex ui-view></md-content>
</div>